@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
  overflow-x: hidden;
}

.background-image {
  background-image: url('index/imagens/Background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  margin-top: 0; 
  padding-top: 0; 
}

.background-image1 {
  background-image: url('quartos/imagens/Quartos-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.background-image2 {
  background-image: url('reserva/imagens/Reserva-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.background-image-quartos {
  background-image: url('quartos/imagens/Quartos.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
}

.background-image-restaurantes {
  background-image: url('index/imagens/Restaurante.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  margin-top: 0; 
  padding-top: 0; 
}

.background-image-ribeirao {
  background-image: url('index/imagens/Ribeirao.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
}

.background-image-porto {
  background-image: url('index/imagens/PortoFerreira.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
}

.background-image-orlandia {
  background-image: url('index/imagens/Orlandia.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
}

.background-image-quarto1 {
  background-image: url('quartos/imagens/Quarto1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 65vh;
}

.background-image-quarto2 {
  background-image: url('quartos/imagens/Quarto2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 65vh;
}

.background-image-quarto3 {
  background-image: url('quartos/imagens/Quarto3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 65vh;
  width: auto;
}

.navbar-custom {
    display: flex;
    justify-content: end;
    margin-left: 60%; 
    font-weight: 420;
    font-size: 3vh;
    color: white;
}
.nav-custom {
    position: relative;
}

.nav-custom::after {
  content: ''; 
  position: absolute; 
  width: 100%; 
  height: 2px; 
  background-color: #FFFFFF; 
  bottom: 1px; 
  left: 0; 
  transition: width 0.3s ease; 
  width: 0;
}
  
.nav-link:hover::after {
  width: 100%; 
}

.btn-custom {
  border-color: 2px white;
}

.btn-custom.btn-outline-light {
  border-radius: 12px; 
  background-color: #ffffff45;
  color: #ffffff !important;
  border-color: #ffffff72;
  font-weight: 500 !important;
  align-items: center;
  font-size: 3vh;
}

.btn-custom.btn-outline-light:hover {
  background-color: #ffffff45 !important; 
  color: #fffffffa !important;
  font-weight: 500 !important;
  border-color: #ffffff;
  }

h1 {
  color: white;
  font-size: 32%;
}

.texto-meio {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E2E2E2;
  width: 100%;
  height: 30%;
  text-align: center;
}

.barra-pai {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barra-preta {
  width: 5%;
  height: 1px;
  background-color: #949494;
  margin: 0px 0;
}

.barra {
  width: 50%;
  height: 1px;
  background-color: #4A93F3;
  margin: 10px 0;
}

.text-custom {
  flex-direction: row;
  font-weight: 550;
}

.text-secondary-custom {
  color: #797878;
  font-size: 2.5vh;
  font-weight: 600;
}

.iframe {
  height: 100%;  
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: #0C1B2F;
}

.nav-link {
  color: #797878;
}

.icones {
  display: flex;
  gap: 30px;
  cursor: pointer;
}

.texto {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10vh;
  padding-top: 25vh;
}

.h1-background {
  font-size: 5vh;
}

.calendar {
  font-family: Arial, sans-serif;
  text-align: center;
  max-width: 400px; 
  margin: 0 auto; 
  position: relative; 
}

.calendar-header {
  margin-bottom: 20px;
}

.calendar-header h2 {
  margin: 0;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 1px solid #ccc;
  border-top: none;
}

.calendar-cell {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.calendar-cell:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.selected {
  background-color: #007bff;
  color: white;
}

.calendar-nav {
  position: absolute; 
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  z-index: 1;
}

.calendar-nav button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 17.9%;
}

.calendar-nav button:hover {
  background-color: #0056b3;
}

.modal-content-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-title {
  font-weight: 700;
  font-size: 35px;
  color: white;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: white;
}

.form-custom {
  color: white;
}

